*{
  font-family: 'Rubik', sans-serif;
}
.marquee {
  --gap: 1rem;
  display: flex;
  user-select: none;
  gap: var(--gap);
  position: fixed;
  bottom: 0;
  background: white;
}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  gap: var(--gap);
  animation: scroll 25s linear infinite;
}

.link-container {
  position: relative;
}

.details {
  white-space: normal;
  display: inline-block;
  background: white;
  width: 641px;
  height: 279px;
  position: absolute;
  top: -291px;
  z-index: 2;
  left: 0;
  box-shadow: 2px 4px 14px 0px rgba(199,199,199,0.75);
  -webkit-box-shadow: 2px 4px 14px 0px rgba(199,199,199,0.75);
  -moz-box-shadow: 2px 4px 14px 0px rgba(199,199,199,0.75);
  visibility: hidden;
  color: black;
  transform-style: preserve-3d;
  transform-origin: center bottom;
  backface-visibility: hidden;
  transition: all 0.5s ease-in-out;
  transform: rotateX(-180deg);
  padding-left: 38px;
  padding-top: 45px;
  padding-right: 38px;
}

.link-container:hover .details {
  visibility: visible;
  transform: rotateX(0deg);
}

h2{
  color: #1ac045;

}
p{
  font-size: 2rem;
}
button{
  background-color: white;
  border: 1px solid black;
  text-transform: uppercase;
  cursor: pointer;
  padding: 1rem;
  outline: none;
}
html,body{
  overflow-x: hidden;
}
button:hover{
  background-color: black;
  color: white;
  transition:  all ease-in-out .5s;
}

ul{
  list-style: none;
}
body{
  background: #f4f4f4;
}
ul li{
  margin-left: 4rem;
}

/* Pause the animation when hovering over an li element */
.marquee__content:hover {
  animation-play-state: paused;
}

/* Keyframes for the sliding animation */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

