*{
  font-family: 'Rubik', sans-serif;
}
body{
  background: #f4f4f4;
}
.tickerTape{
  left: -5%;
  bottom: 0rem;
  position: fixed;
  display: block;
  width: 120%;
  background: white;
  z-index: 2;
  box-sizing: border-box;
  padding: 0.7rem 0.25rem;
  font-weight: 100;
  height: 3.3rem;
  padding: 1rem;
  
}
.tickerTape >div.parent {
  position: absolute;
  left: 0%;
  animation: slideIt 20s linear infinite;
  color: black;
  white-space: nowrap; /* prevent text from breaking */
  display: inline-block;
}
a {
  margin:0 50px;
  display: inline;
  color:black;
  text-decoration: none;
  font-size: 1.2rem;
  cursor: pointer;
}


.tickerTape:hover >div:hover {
  animation-play-state: paused; /* pause animation when hovering on link */
}
.link-container {
  display: inline;
}
.details {
  white-space: normal;
  display: inline-block;
  background: white;
  width: 641px;
  height: 279px;
  position: absolute;
  top: -291px;
  z-index: 2;
  left: 0;
  box-shadow: 2px 4px 14px 0px rgba(199,199,199,0.75);
  -webkit-box-shadow: 2px 4px 14px 0px rgba(199,199,199,0.75);
  -moz-box-shadow: 2px 4px 14px 0px rgba(199,199,199,0.75);
  visibility: hidden;
  color: black;
  transform-style: preserve-3d;
  transform-origin: center bottom;
  backface-visibility: hidden;
  transition: all 0.5s ease-in-out;
  transform: rotateX(-180deg);
  padding-left: 38px;
  padding-top: 45px; /* hide the element with the backface hidden */
}
.details.flip-in {
  visibility: visible;
  transform: rotateX(0deg); /* show the element with the frontface visible */
}
.link-container {
  position: relative;
}
@keyframes slideIt{
  0%{left:100vw;}
  100%{left:-34%;}
}

h2{
  color: #1ac045;

}
p{
  font-size: 2rem;
}
button{
  background-color: white;
  border: 1px solid black;
  text-transform: uppercase;
  cursor: pointer;
  padding: 1rem
}
html,body{
  overflow-x: hidden;
}
